<div class="container-fluid">
  <div class="container-fluid">
      <div class="row">
        <div class="col p-0 mb-2 bg-primary text-white text-center">
          <h1 class="display-1"><%= title %></h1>
      </div>
  </div>
</div>

<div class="container-fluid">
    <div class="container-fluid">
        <div class="row">
          <div class="bg-light col p-5 mb-2 ">
            <p >My background includes working in both small and large organizations as an IT manager with almost fifteen years of expertise. My bachelor’s degree is in Business Administration from the University of Management and Technology. As an IT manager, I have worked for various companies including an industry leader in logistics and transportation. Among my responsibilities as an IT manager are defining and identifying solutions to a wide range of IT problems and supporting the development of software and hardware infrastructure to supporting the daily real-time monitoring of millions of data being recorded, and automating and digitizing data processing.</p>
            <p >In addition to developing infrastructure, I have also assisted my company in implementing innovative solutions for a range of products, including ERP, web-based applications, mobile apps, and IoT hardware. Furthermore, as part of my role as a community leader, I have promoted data culture at three company for the last seven years.</p>
            <br>
            <button type="button" class="btn btn-primary"><a class="nav-link" aria-current="page" href="./Assets/documents/ChanPoFai-CV2021_V8.pdf">Download my resume</a></button>
          </div>
          <div class="bg-light col-md-auto p-5">
            <img src="./Assets/images/ryanchan-image.jpg" class="rounded-pill " alt="..." height="200" width="200">
          </div>
        </div>
    </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col p-5 mb-2 ">
      <h3 >Data Visualization</h1>
      <p >The ability to visualize data is one of the most important skills in the future. Tableau has not only greatly improved my work efficiency in the past analysis work, but also helped me to advance my career. This is a fantastic tool that I am happy to use.</p>
      <br>
      <button type="button" class="btn btn-primary"><a class="nav-link" aria-current="page" href="https://public.tableau.com/views/Resume_16310819635730/Dashboard2?:language=en-US&:display_count=n&:origin=viz_share_link">View My Tableau CV</a></button>
      <br>
    </div>
    <div class="col p-5 mb-2">
      <img src="./Assets/images/working.jpg" class="rounded-pill" alt="..." height="400" width="400">
    </div>
  </div>
</div>