<div class="container-fluid">
    <div class="container-fluid">
        <div class="row">
          <div class="col p-0 mb-2 bg-primary text-white text-center">
            <h1 class="display-1"><%= title %></h1>
        </div>
    </div>
</div>

<div class="container">
    <form action="https://formsubmit.co/ryan@ryanchan.info" class="row g-3" method="POST">
        <div class="mb-3">
            <label for="validationDefault01" class="form-label">First name</label>
            <input type="text" name="First name" class="form-control" id="validationDefault01" value="" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <label for="validationDefault02" class="form-label">Last name</label>
            <input type="text" name="Last name" class="form-control" id="validationDefault02" value="" required>
        </div>
        <div class="mb-3">
            <label for="validationDefault03" class="form-label">Contact Number</label>
            <input type="text" name="Contact Number" class="form-control" id="validationDefault03" placeholder="000-000-0000">
        </div>
        <div class="mb-3">
            <label for="validationDefault04" class="form-label">Contact E-mail</label>
            <input type="email" name="E-mail" class="form-control" id="validationDefault04" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="validationDefault05" class="form-label">Message</label>
            <textarea class="form-control" name="Message" id="validationDefault05" rows="5"></textarea>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
        <div class="col-12">
             <br>
        </div>
      </form>
</div>