<div class="container-fluid">
    <div class="container-fluid">
        <div class="row">
          <div class="col p-0 mb-2 bg-primary text-white">
            <img src="./Assets/images/banner.jpg" class="img-fluid" alt="Banner" height="400" width="800">
          </div>
          <div class="col p-5 mb-2 bg-primary text-white">
            <h1 > Hello! I am Ryan Chan</h1>
            <h2 > Experienced IT Product Manager </h2>
            <p >Proficient in IoT, Last Mile Technology and Promote Data Culture in Company.</p>
          </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
          <div class="col p-5 mb-2 ">
            <h3 >PERSONAL NOTES</h1>
            <p >“The golden opportunity you are seeking is in yourself. It is not in your environment; it is not in luck or chance, or the help of others; it is in yourself alone.”</p>
            <figcaption class="blockquote-footer">Orison Swett Marden</figcaption>

            <button type="button" class="btn btn-primary">View Portfolio</button>
            <br>
          </div>
          <div class="col p-5 mb-2">
            <img src="./Assets/images/working.jpg" class="rounded-pill" alt="..." height="400" width="400">
          </div>
        </div>
    </div>
</div>