<div class="container-fluid">
    <div class="container-fluid">
        <div class="row">
          <div class="col p-0 mb-2 bg-primary text-white text-center">
            PORTFOLIO
            <h1 class="display-1"><%= title %></h1>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container-fluid">
        <div class="row">
          <div class="col-6 p-0 mb-2 bg-light text-left">
            <h2>EF Locker</h3>
            <span class="badge bg-secondary"><i class="fa-solid fa-circle-check"></i> APP DEVELOPMENT</span>
            <span class="badge bg-secondary"><i class="fa-solid fa-circle-check"></i> STRATEGY</span>
            <span class="badge bg-secondary"><i class="fa-solid fa-circle-check"></i> IOT</span>
            <span class="badge bg-secondary"><i class="fa-solid fa-circle-check"></i> UI/UX</span>
            <p>
            <li>Implement the largest express locker system in Hong Kong, which reaches 1,000 lockers in Hong Kong. And IT systems run 24/7, providing the bank-level data security guarantee</li>
            <li>Implementation of an intra-city express service that handles over a million parcels per year through lockers and couriers APP.</li>
            <li>Hong Kong’s first kiosk system with real time cash refund and promote features.</li>
            <li>Successfully deploy the most e-payment methods for Locker System.</li>
            <li>Extend the Last Mile network to over 2000 points by impement 800 convenience stores.</li>
            </p>
             <button type="button" class="btn btn-primary"><a class="nav-link" aria-current="page" href="https://htm.sf-express.com/hk/en/other_services/intelligent_cabinet/marketing_services/">Visit Site</a></button>
          </div>
          <div class="col p-5 mb-2 bg-light ">
            <img src="./Assets/images/project1.jpg" class="img-fluid" alt="Banner" height="400" width="800">
          </div>        
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container-fluid">
        <div class="row">
          <div class="col p-0 mb-2 bg-light text-left">
            <img src="./Assets/images/project2.jpg" class="img-fluid" alt="Banner" height="400" width="800">
          </div>
          <div class="col-6 p-5 mb-2 bg-light ">
            <h2>APP1933</h3>
                <span class="badge bg-secondary"><i class="fa-solid fa-circle-check"></i> STRATEGY</span>
                <span class="badge bg-secondary"><i class="fa-solid fa-circle-check"></i> GEODATA</span>
                <p>
                <li>Improving ETA Prediction Accuracy by Map Technolgy</li>
                <li>Improved the User Experience of ETA delay</li>
                </p>
                <button type="button" class="btn btn-primary"><a class="nav-link" aria-current="page" href="https://apps.apple.com/hk/app/app1933-kmb-lwb/id1170003707?l=en">Visit Site</a></button>
          </div>        
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container-fluid">
        <div class="row">
          <div class="col-6 p-0 mb-2 bg-light text-left">
            <h2>Tableau</h3>
            <span class="badge bg-secondary"><i class="fa-solid fa-circle-check"></i> DATA CULTURE</span>
            <span class="badge bg-secondary"><i class="fa-solid fa-circle-check"></i> DATA-VISUALIZATION</span>
            <p>
            <li>Monitor the supply chain performance of the manufacturing process with ERP Data</li>
            <li>Create an interactive dashboard for Finance Department to track locker costs</li>
            <li>Develop an interactive dashboard to track the parcel delivery rates for Operations.</li>
            <li>Provide a location suggestion based on the map.</li>
            <li>Analytics for tracking user behavior to improve the Bus Operation.</li>
            </p>
            <button type="button" class="btn btn-primary"><a class="nav-link" aria-current="page" href="https://www.tableau.com/">Visit Site</a></button>
          </div>
          <div class="col p-5 mb-2 bg-light ">
            <img src="./Assets/images/project3.jpg" class="img-fluid" alt="Banner" height="400" width="800">
          </div>        
        </div>
    </div>
</div>