<div class="container-fluid">
    <div class="container-fluid">
        <div class="row">
          <div class="col p-0 mb-2 bg-primary text-white text-center">
            <h1 class="display-1"><%= title %></h1>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
      <div class="col p-5 mb-2 ">
        <h3 >Data Visualization</h1>
        <p >The ability to visualize data is one of the most important skills in the future. We can help you uncover the stories hidden in your data by providing a professional service. </p>
        <br>
        <p>You can contact us via the Contact page to learn more about the services we can provide to support your business.</p>
        <br>
      </div>
      <div class="col p-5 mb-2">
        <img src="./Assets/images/tableau.jpg" class="rounded-pill" alt="Tableau" height="400" width="400">
      </div>
    </div>
  </div>

<div class="container-fluid ">
    <div class="row " >
        <div class="col p-5 bg-primary mx-auto text-white text-center" style="--bs-bg-opacity: .5;">
            <i class="fa-solid fa-diagram-project fa-5x" style="color:white"></i>
            <h5>PROJECT MANAGMENT</h5>
            <p>Establish expectations and clear directions to meet all goals and objectives.</p>
        </div>
        <div class="col p-5 bg-primary mx-auto text-white text-center" style="--bs-bg-opacity: .5;">
            
            <i class="fa-brands fa-app-store fa-5x" style="color:white" ></i>
            <h5>MOBILE APPLICATIONS</h5>
            <p>Experience with the development and maintenance of mobile applications.</p>
            
        </div>
        <div class="col p-5 bg-primary mx-auto text-white text-center" style="--bs-bg-opacity: .5;">
            <i class="fa-solid fa-chart-area fa-5x" style="color:white" ></i>
            <h5>DATA ANALYTICS</h5>
            <p >Spark a data-driven culture, based on autonomy, trust, speed and accuracy.</p>
            </div>  
        </div>
    </div>
</div>